<?xml version="1.0" encoding="UTF-8"?>
<cruisecontrol>

    <property environment="env" toupper="true" />

    <project name="config">
    	<listeners>
    		<currentbuildstatuslistener file="logs/${project.name}/status.txt" />
    	</listeners>
    	<bootstrappers>
    		<svnbootstrapper file="config.xml" />
    	</bootstrappers>
    	<schedule interval="60">
    		<ant antWorkingDir="projects/${project.name}" target="publish" uselogger="true" />
    	</schedule>
    	<log>
    		<delete every="1" unit="WEEK" ignoreSuffix="false" />
    	</log>
    </project>

    <project name="gamegineer" buildafterfailed="false">
        <listeners>
            <currentbuildstatuslistener file="logs/${project.name}/status.txt" />
        </listeners>
        <bootstrappers>
        	<svnbootstrapper file="projects/${project.name}/build.xml" />
        </bootstrappers>
        <modificationset quietperiod="60">
            <svn RepositoryLocation="https://gamegineer.svn.sourceforge.net/svnroot/gamegineer" />
        </modificationset>
        <schedule interval="60">
            <ant
            		anthome="${env.ANT_HOME}"
            		antWorkingDir="projects/${project.name}"
            		target="rebuild"
            		uselogger="true" />
        </schedule>
        <log dir="logs/${project.name}">
            <merge dir="projects/${project.name}/checkout/I.Build/test-workspace/gamegineer/results" />
    		<delete every="1" unit="WEEK" ignoreSuffix="false" />
        </log>
        <publishers>
            <artifactspublisher
            		dest="artifacts/${project.name}"
            		dir="projects/${project.name}/checkout/I.build/artifacts" />
            <htmlemail
                    buildresultsurl="http://no-location"
                    defaultsuffix="@users.sourceforge.net"
                    mailhost="${env.CC_MAIL_HOST}"
                    mailport="${env.CC_MAIL_PORT}"
                    password="${env.CC_MAIL_PASSWORD}"
                    returnaddress="s_soloff@users.sourceforge.net"
                    username="${env.CC_MAIL_USERNAME}"
                    usessl="${env.CC_MAIL_USESSL}">
                <always address="s_soloff@users.sourceforge.net" />
            </htmlemail>
        </publishers>
    </project>

</cruisecontrol>
