<?xml version="1.0" encoding="UTF-8"?>
<cruisecontrol>

    <project name="gamegineer" buildafterfailed="false">
        <listeners>
            <currentbuildstatuslistener file="logs/gamegineer/status.txt" />
        </listeners>
        <bootstrappers>
        </bootstrappers>
        <modificationset quietperiod="60">
            <svn RepositoryLocation="http://gamegineer.svn.sourceforge.net/svnroot/gamegineer" />
        </modificationset>
        <schedule interval="60">
            <ant buildfile="cc-build.xml" target="build" uselogger="true" usedebug="false" />
        </schedule>
        <log dir="logs/gamegineer">
            <merge dir="checkout/org.gamegineer.builder/I.Build/test-workspace/eclipse/results" />
        </log>
        <publishers>
        </publishers>
    </project>

</cruisecontrol>
